*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}
.top_wrapper{
  height: 80vh;
  background-image: linear-gradient(to right, rgba(0, 176, 240, 0.8), rgba(254, 194, 0, 0.8)), url(../resources/top_background.png);
  position: relative;
}
.peon_name_contact{
  width: 50%;
  height: 100%;
  float: right;
}
.peon_name_contact h1{
  text-align: center;
  margin-top: 100px;
  color: white;
  font-weight: 500;
  letter-spacing: 75px;
  font-size: 80px;
}
.peon_desc{
  width: 55%;
}
.peon_desc p{
  color: white;
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
}
.peon_desc a{
  width: 50%;
  height: 50px;
  background-color: rgb(0, 176, 240);
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  transition: all .5s ease-out;
  margin-top: 20px;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
}
.peon_desc a:hover{
  background-color: white;
  color: rgb(0, 176, 240);
  border: 2px solid rgb(0, 176, 240);
}
.contact_logo{
  float: left;
  width: 50%;
  color: white;
  margin-top: 50px;
  text-align: right;
}
.contact_logo i{
  padding-right: 30px;
  font-size: 30px;
}
.contact_phone_no{
  float: right;
  width: 50%;
  color: white;
  margin-top: 40px;
}
.contact_phone_no p{
  font-size: 20px;
  letter-spacing: 5px;
}
.peon_book_library_menu{
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotateY(-50%);

  height: 100px;
  width: 30%;
  float: left;
  background-color: rgb(254, 194, 0);
  border-left: 5px solid white;
  -webkit-clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
  transition: all .5s ease-out;
}
.peon_book_library_menu_text_holder{
  height: 100%;
  width: 100%;
  position: relative;
}
.peon_book_library_menu p{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  padding-left: 30px;
  font-size: 40px;
  text-decoration: none;
}
.lib{
  text-decoration: none;
}
.peon_book_library_menu:hover{
  width: 35%;
}
.book_slider_container{
  position: relative;
  height: 600px;
}
.featered_book_slider{
  margin-top: 50px;
  height: 500px;
  width: 665px;
  float: left;
  margin-left: 100px;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.slider_book_image img{
  display: none;
  height: 500px;
  align: center;
  animation: slide_show .5s ease-out;
}

.slider_mover_button{
  position: relative;
  height: 50px;
  width: 50px;
  background-color: rgba(255,255,255,0.5);
  border: 0.1px solid rgba(255,255,255,0.5);
  border-radius: 2px;
  cursor: pointer;
}
.slider_mover_button i{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.left{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.right{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.featured_book_get{
  background-color: rgb(0, 176, 240);
  border: 2px solid white;
  border-radius: 40px;
  height: 50px;
  width: 150px;
  color: white;
  transition: all .5s ease-out;
  cursor: pointer;
  position: absolute;
  right: 200px;
  top: 55%;
  transform: translateY(-55%);
}
.featured_book_get:hover{
  background-color: white;
  color: rgb(0, 176, 240);
  border: 2px solid rgb(0, 176, 240);
}
.featured_books_desc p{
  padding-bottom: 20px;
  font-size: 35px;
  position: absolute;
  right: 200px;
  top: 45%;
  transform: translateY(-45%);
}
.featured_books_desc{
  position: relative;
  height: 600px;
  width: 45%;
  float: right;
}
#peon_description_section{
  height: 300px;
  background-color: rgb(254, 194, 0);
  color: white;
  font-size: 25px;
  position: relative;
}
.peon_description_section_text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.peon_description_section_text p{
margin-left: -30px;
}

footer{
  height: 300px;
}
.footer_section{
  height: 100%;
  width: 33.33%;
  position: relative;
  float: left;
}
.footer_peon_logo img{
  position: absolute;
  height: 100px;
  width: calc(100px * 2.04);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer_book_section ul{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  text-decoration: none;
}
.footer_book_section a{
  text-decoration: none;
}
.footer_book_section h4{
  margin-left: -30px;
}
.footer_social_media p{
  letter-spacing: 10px;
  font-size: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease-out;
}
.footer_social_media p:nth-child(1) i:hover{
  color: blue;
}
.footer_social_media p:nth-child(2) i:hover{
  color: pink;
}

@keyframes slide_show{
  from{opacity: 0.4}
  to{opacity: 1}
}
